<p id="notice"><%= notice %></p>


<div class='main'>
<span id='miro_bode'>
	<%= image_tag "mirobode.png" %>
	<p id='miro_bode_date'>Miro and Bode's wedding </br></p>

</span>
<!--
<div id='miro_bode_clock'>
	<div class="clock">
	  <div class="months">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Months, </div>  
	  <div class="days">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Days, </div>
	  <div class="hours">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Hours, </div>
	  <div class="minutes">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Minutes, </div>
	  <div class="seconds">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second infinite">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Seconds </div>
	</div>
</div>
-->
<span id='andreea_jon'>
	<%= image_tag "andreeajon.png" %>
	<p id='andreea_jon_date'>Andreea and Jon's wedding </br></p>
</span>
<!--
<div id='andreea_jon_clock'>
	<div class="clock">
	  <div class="months">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Months, </div>  
	  <div class="days">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Days, </div>
	  <div class="hours">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Hours, </div>
	  <div class="minutes">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Minutes, </div>
	  <div class="seconds">
	    <div class="first">
	      <div class="number">0</div>
	    </div>
	    <div class="second infinite">
	      <div class="number">0</div>
	    </div>
	  </div>
	  <div class="tick"> Seconds </div>
	</div>
</div>
-->
</div>
<br>

